

.nav li {
    margin: 16px !important;
  }
.banner-container {
    margin-right: 28px;
    margin-left: 28px;
    margin-top: 6px;
  }


  .container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
}

.meta-list {
    list-style-type: none;  /* Remove default list bullets */
    padding: 0;
    margin: 0;
}

.meta-list li {
    margin-bottom: 10px;
    font-size: 16px;
}

.meta-list li strong {
    font-weight: bold;
}
